<h2><%= @character.name %></h2>
<% if @character.characterable_type == "House" || @character.characterable.noble == true %>
<h3>of <%= link_to "House #{@character.characterable.name}", @character.characterable_type=="House" ? house_path(@character.characterable) : vassal_path(@character.characterable) %></h3>
<% end %>
<%= image_tag "#{@character.img_url}", class: "character_img" %>
<h3>Current Status: <%= @character.status %></h3>
